extends ../layout/main

block variables
    - const pageTitle = "Pilot Main Page"
block content
    section.banner
        .wrap-banner
            .container
                .banner-info    
                    .banner-title
                        p Хочешь пиццу?
                    .delivery-address
                        .delivery-address-title
                            p Адресс доставки
                        form.location-search(action="")
                            input(type="text" placeholder="Дерибасовская" name="search")
                            +svg('current', 16, 24)
                            button(type="submit") Поиск
                        a.restaurants-link(href="#") или посмотреть популярные рестораны в Одессе
    section.cities
        .container
            .row    
                .col-md-4
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iusto nihil illum aperiam natus perferendis ipsa! Nam laborum eligendi iste quia consequatur tempora doloremque, tempore cum culpa omnis, tenetur harum.
                .col-md-4
                    p Quisquam cumque facilis modi labore nostrum! Molestiae sequi veniam consectetur asperiores voluptatibus harum voluptatem porro ipsam beatae odit, iusto animi veritatis, fuga distinctio sunt quas corporis labore! Neque, error itaque?
                .col-md-4
                    p Repellat, quam. Iure, deserunt aliquid recusandae tempore quod incidunt harum corrupti rem molestias quia, non aspernatur cum adipisci! Quos nemo autem maiores adipisci consequuntur quam laborum deleniti excepturi repellendus sequi!