extends ../layout/main

block variables
    - const pageTitle = "Pilot Main Page"
block content
    section.banner
        .wrap-banner
            .container
                .banner-info    
                    .banner-title
                        p Хочешь пиццу?
                    .delivery-address
                        .delivery-address-title
                            p Адресс доставки
                        form.location-search(action="")
                            input(type="text" placeholder="Дерибасовская" name="search")
                            +svg('current', 16, 24)
                            button(type="submit") Поиск
                        a.restaurants-link(href="#") или посмотреть популярные рестораны в Одессе
    section.cities
        .container
            h2.cities-title Пилотируем в городах
            .row    
                .col-md-5
                    ul.cities-list
                        li
                            a(href="") Одесса
                        li
                            a(href="") Киев
                        li
                            a(href="") Черноморск
                        li
                            a(href="") Николаев
                .col-md-5
                    ul.cities-list
                        li
                            a(href="") Львов
                        li
                            a(href="") Днепропетровск
                        li
                            a(href="") Харьков 
                .col-md-2
                    ul.cities-list
                        li
                            a(href="") Чернигов 
                        li
                            a(href="") Житомир 
                        li
                            a(href="") Ужгород