extends ../layout/main

block variables
    - const pageTitle = "Pilot Main Page"
block content
    section.banner.pizza
        .wrap-banner
            .container
                .banner-info    
                    .banner-title
                        p Хочешь пиццу?
                    .delivery-address
                        .delivery-address-title
                            p Адресс доставки
                        form.location-search(action="")
                            input(type="text" placeholder="Дерибасовская" name="search")
                            +svg('current', 16, 24)
                            button(type="submit") Поиск
                        a.restaurants-link(href="#") или посмотреть популярные рестораны в Одессе
    section.cities
        .container
            h2.cities-title Пилотируем в городах
            .row    
                .col-md-5
                    ul.cities-list
                        li
                            a(href="") Одесса
                        li
                            a(href="") Киев
                        li
                            a(href="") Черноморск
                        li
                            a(href="") Николаев
                .col-md-5
                    ul.cities-list
                        li
                            a(href="") Львов
                        li
                            a(href="") Днепропетровск
                        li
                            a(href="") Харьков 
                .col-md-2
                    ul.cities-list
                        li
                            a(href="") Чернигов 
                        li
                            a(href="") Житомир 
                        li
                            a(href="") Ужгород
    section.apps
            .apps-wrap
                .container
                    img.apps-bg(src="img/app-img.png", alt="")  
                    .description-apps
                        h2.apps-title Дорогая, мы не готовим сегодня вечером
                        p.apps-text Разместите приложение Wolt, награжденное Apple, на главном экране, и вы сможете выбрать из более 5000 ресторанов в более чем 40 городах по всей Европе. Откройте для себя лучшие блюда вокруг вас, принесенные вам.
                        .apps-links
                            .mobile-links
                                ul
                                    li
                                        a(href="")
                                            +svg('app-ios', 119.66, 42.95)
                                    li
                                        a(href="")
                                            +svg('app-android', 118, 37.58)
                            .qr-code
                                img(src="img/qr-code.png", alt="")
                                      