extends ../layout/main
    
block content
    section.city-banner
        .container
            .current-location-wrapper
                +svg('current', 16, 24)
                input(class="current-location" type="text" placeholder="Дерибасовская")
            .slider-container
                .city-page-slider
                    .slider-element
                        .rest
                            img(class="rest-img" src="img/rest-img.jpg", alt="")
                            .rest-about
                                .rest-title McDonalds
                                a(class="delivery-rules" href="#") Правила доставки
                                a(class="more-btn" href="#") Подробнее
                    .slider-element
                        .rest
                            img(class="rest-img" src="img/rest-img.jpg", alt="")
                            .rest-about
                                .rest-title McDonalds
                                a(class="delivery-rules" href="#") Правила доставки
                                a(class="more-btn" href="#") Подробнее
                    .slider-element
                        .rest
                            img(class="rest-img" src="img/rest-img.jpg", alt="")
                            .rest-about
                                .rest-title McDonalds
                                a(class="delivery-rules" href="#") Правила доставки
                                a(class="more-btn" href="#") Подробнее            
                .nav-prev
                    a.arrow.left
                .nav-next
                    a.arrow.right
    .container 
        //- Доставка еды онлайн
        .online-delivery-group               
            h2 Заказавайте доставку еды онлайн
            .nav-category
                a.arrow.left-group
                a.arrow.right-group
            .row
                +card_group_food('#link','img/cat-sushi.jpg','Категория суши','Суши','12 Ресторанов')
                +card_group_food('#link','img/barbecue.jpg','Категория блюда на мангале','Блюда на мангале','11 Ресторанов')
                +card_group_food('#link','img/dessert.jpg','Категория дессерты','Дессерты','8 Ресторанов')
                +card_group_food('#link','img/vegetarian.jpg','Категория вегетарианская','Вегетарианская','15 Ресторанов')
            .row
                +card_group_food('#link','img/healthy.jpg','Категория здоровое питание','Здоровое питание','15 Ресторанов')
                +card_group_food('#link','img/pizza-food.jpg','Категория пицца','Пицца','15 Ресторанов')
                +card_group_food('#link','img/burger.jpg','Категория бургеры','Бургеры','15 Ресторанов')
                +card_group_food('#link','img/dish-mish.jpg','Категория пицца','Пицца','15 Ресторанов')
        .sushi-roll-group
            //- Суши роллы
            .sushi-roll-group-title
                h2 Суши роллы
                .nav-category
                    a.sushi-all Все (12)
                    a.arrow.left-group
                    a.arrow.right-group
            .row
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-kami.png", alt="Ками - Доставка еды из ресторанов")
                        .catImg.tagSushi
                            img(class="sushi-img" src="img/california-roll1.jpg", alt="Ролл Калифорния")
                        .cat-title Ролл Калифорния
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-kami.png", alt="Ками - Доставка еды из ресторанов")
                        .catImg.tagSushi
                            img(class="sushi-img" src="img/california-roll2.jpg", alt="Ролл Калифорния")
                        .cat-title Ролл Калифорния 
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-kosmos.png", alt="Суши Бар Космос - Доставка еды из ресторанов")
                        .catImg.tagSushi
                            img(class="sushi-img" src="img/philadelfia-roll.jpg", alt="Ролл Филадельфия")
                        .cat-title Ролл Филадельфия
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-kosmos.png", alt="Суши Бар Космос - Доставка еды из ресторанов")
                        .catImg.tagSushi
                            img(class="sushi-img" src="img/kamikaze-roll.jpg", alt="Ролл Камикадзе")
                        .cat-title Ролл Камикадзе    
            .row
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-irish-pub.png", alt="Irish Pub - Доставка еды из ресторанов")
                        .catImg.tagSushi    
                            img(class="sushi-img" src="img/masago-sushi.jpg", alt="Масаго суши")
                        .cat-title Масаго Суши
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-mister.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                        .catImg.tagSushi
                            img(src="img/teka-maki-roll.jpg", alt="Ролл Тека Маки")
                        .cat-title Ролл Тека Маки
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-mister.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                        .catImg.tagSushi
                            img(class="sushi-img" src="img/tori-kunsei-roll.jpg", alt="Ролл Тори Кунсей")
                        .cat-title Ролл Тори Кунсей
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        .card_group_food_all.catImg
                            .title 
                                span Все суши
                                br 
                                | ресторанов
                             
        .new-rest-group
            //- Новые рестораны
            .new-rest-group-title
                h2 Новые рестораны в Pilot
                .nav-category
                    a.sushi-all Все (12)
                    a.arrow.left-group
                    a.arrow.right-group 
            .row
                .col-md-4.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-faina-music-pub.png", alt="Файна Мьюзик Паб")
                        .rest-img-group
                            img(src="img/faina-music-img.jpg", alt="Файна Мьюзик Паб")
                        h3.rest-title Файна Мьюзик Паб
                        p.working-hours 09:00 - 22:00
                        .new-rest-about                
                .col-md-4.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-faina-music-pub.png", alt="Файна Мьюзик Паб")
                        .rest-img-group
                            img(src="img/faina-music-img.jpg", alt="Файна Мьюзик Паб")
                        h3.rest-title Файна Мьюзик Паб
                        p.working-hours 09:00 - 22:00
                        .new-rest-about           
                .col-md-4.card_group_food
                    a(href="#" class="cat-link")
                        .min_logo_rest
                            img(class="group_food_logo" src="img/logo_rest/logo-faina-music-pub.png", alt="Файна Мьюзик Паб")
                        .rest-img-group
                            img(src="img/faina-music-img.jpg", alt="Файна Мьюзик Паб")
                        h3.rest-title Файна Мьюзик Паб
                        p.working-hours 09:00 - 22:00
                        .new-rest-about