extends ../layout/main
    
block content
    section.city-banner
        .container
            .current-location-wrapper
                +svg('current', 16, 24)
                input(class="current-location" type="text" placeholder="Дерибасовская")
            .slider-container
                .city-page-slider
                    .slider-element
                        .rest
                            img(class="rest-img" src="img/rest-img.jpg", alt="")
                            .rest-about
                                .rest-title McDonalds
                                a(class="delivery-rules" href="#") Правила доставки
                                a(class="more-btn" href="#") Подробнее
                    .slider-element
                        .rest
                            img(class="rest-img" src="img/rest-img.jpg", alt="")
                            .rest-about
                                .rest-title McDonalds
                                a(class="delivery-rules" href="#") Правила доставки
                                a(class="more-btn" href="#") Подробнее
                    .slider-element
                        .rest
                            img(class="rest-img" src="img/rest-img.jpg", alt="")
                            .rest-about
                                .rest-title McDonalds
                                a(class="delivery-rules" href="#") Правила доставки
                                a(class="more-btn" href="#") Подробнее            
                .nav-prev
                    a.arrow.left
                .nav-next
                    a.arrow.right
    .container 
        .online-delivery-group               
            h2 Заказавайте доставку еды онлайн
            .nav-category
                a.arrow.left-group
                a.arrow.right-group

            //- сделать миксин одной категории
            mixin card_group_food(href, srcImg, altImg, catTitle, countRest)
                .col-md-3.card_group_food
                    a(href= href class="cat-link" title= altImg)
                        img(src= srcImg, alt= altImg)
                        .cat-title= catTitle
                        p.count-rest= countRest
            .row
                +card_group_food('#link','img/cat-sushi.jpg','Категория суши','Суши','12 Ресторанов')
                +card_group_food('#link','img/barbecue.jpg','Категория блюда на мангале','Блюда на мангале','11 Ресторанов')
                +card_group_food('#link','img/dessert.jpg','Категория дессерты','Дессерты','8 Ресторанов')
                +card_group_food('#link','img/vegetarian.jpg','Категория вегетарианская','Вегетарианская','15 Ресторанов')
            .row
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        img(src="img/healthy.jpg", alt="Категория здоровое питание")
                        .cat-title Здоровое питание
                        p.count-rest 15 Ресторанов
                .col-md-3.card_group_food   
                    a(href="#" class="cat-link") 
                        img(src="img/pizza-food.jpg", alt="Категория пицца")
                        .cat-title Пицца
                        p.count-rest 15 Ресторанов
                .col-md-3.card_group_food
                    a(href="#" class="cat-link")
                        img(src="img/burger.jpg", alt="Категория бургеры")
                        .cat-title Бургеры
                        p.count-rest 15 Ресторанов
                .col-md-3.card_group_food  
                    a(href="#" class="cat-link")  
                        img(src="img/dish-mish.jpg", alt="Категория пицца")
                        .cat-title Пицца
                        p.count-rest 15 Ресторанов
        h2 Суши роллы
        .row
            .col-md-3.card_group_food
                a(href="#" class="cat-link")
                    .min_logo_rest
                        img(src="img/logo_rest/mistersandwich.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                    img(src="img/cat-sushi.jpg", alt="Категория суши")
                    .cat-title Ролл Калифорния
            .col-md-3.card_group_food
                a(href="#" class="cat-link")
                    .min_logo_rest
                        img(src="img/logo_rest/mistersandwich.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                    img(src="img/cat-sushi.jpg", alt="Категория суши")
                    .cat-title Ролл Калифорния 
            .col-md-3.card_group_food
                a(href="#" class="cat-link")
                    .min_logo_rest
                        img(src="img/logo_rest/mistersandwich.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                    img(src="img/cat-sushi.jpg", alt="Категория суши")
                    .cat-title Ролл Калифорния
            .col-md-3.card_group_food
                a(href="#" class="cat-link")
                    .min_logo_rest
                        img(src="img/logo_rest/mistersandwich.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                    img(src="img/cat-sushi.jpg", alt="Категория суши")
                    .cat-title Ролл Калифорния     
        .row
            .col-md-3.card_group_food
                a(href="#" class="cat-link")
                    .min_logo_rest
                        img(src="img/logo_rest/mistersandwich.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                    img(src="img/cat-sushi.jpg", alt="Категория суши")
                    .cat-title Ролл Калифорния
            .col-md-3.card_group_food
                a(href="#" class="cat-link")
                    .min_logo_rest
                        img(src="img/logo_rest/mistersandwich.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                    img(src="img/cat-sushi.jpg", alt="Категория суши")
                    .cat-title Ролл Калифорния 
            .col-md-3.card_group_food
                a(href="#" class="cat-link")
                    .min_logo_rest
                        img(src="img/logo_rest/mistersandwich.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                    img(src="img/cat-sushi.jpg", alt="Категория суши")
                    .cat-title Ролл Калифорния
            .col-md-3.card_group_food
                a(href="#" class="cat-link")
                    .min_logo_rest
                        img(src="img/logo_rest/mistersandwich.png", alt="Мистер Сендвич - Доставка еды из ресторанов")
                    img(src="img/cat-sushi.jpg", alt="Категория суши")
                    .cat-title Ролл Калифорния                              
