extends ../layout/main

block content

    section.restaurant-header
        .container.restaurant-header-description
            .row
                .col-md-2
                    .rest-logo
                        img(src="img/logo_rest/logo-faina-music-pub-big.png", alt="")
                .col-md-3
                .col-md-4
                .col-md-3
    section.restaurant-page-content
        .container
            .row
                .col-md-2
                    .left-sidebar
                        ul.category-hooks
                            a(href="#")
                                li Закуски
                            a(href="#")
                                li Салаты
                            a(href="#")    
                                li Первые блюда
                            a(href="#")
                                li Горячие блюда
                            a(href="#")
                                li Сашими
                            a.active(href="#")
                                li Роллы
                            a(href="#")
                                li Наборы
                            a(href="#")
                                li Тэмаки
                            a(href="#")
                                li Десерты
                .col-md-7
                    .main-content
                        .restaurant-main-description
                            p Суши-бар «Ками» предлагает своим гостям шедевры кулинарии, являющиеся изумительным сочетанием изысканного вкуса и великолепия японской кухни. Экзотика и роскошь Востока находятся совсем рядом!
                            p В японской кухне воплощено стремление людей вести здоровый образ жизни и правильно питаться. Диетологи всего мира высоко ценят ее сбалансированность и сочетание максимального содержания питательных веществ с минимальным содержанием жиров. Исходя из этих критериев, они поставили ее на первое место в мире, считая ее лучшей реализацией идеи здорового питания, кулинарной составляющей идеи и практики здорового образа жизни.
                .col-md3
                    .right-sidebar