extends ../layout/main

block content

    section.restaurant-header
        .container.restaurant-header-description
            .row
                .col-md-2
                    .rest-logo
                        img(src="img/logo_rest/logo-faina-music-pub-big.png", alt="" class="rest-logo-img")
                .col-md-3
                    .restaurant-description
                        h2 Файна Мьюзик Паб
                        p.working-hours
                            +svg('watch', 12, 12)
                            span 09:00 - 22:00     
                        .new-rest-about  
                            .rest-about-text
                                +svg('flatware', 18, 18)
                                span Кофейня, Пирожковая
                            .rest-about-money 
                                span &#8372
                                span &#8372
                                span &#8372
                .col-md-4
                    .delivery-time 
                        svg(class="progress-ring" viewbox="0 0 68 68" width="68" height="68" xmlns="http://www.w3.org/2000/svg")
                            circle(class="progress-ring__background" cx="34"  cy="34" r="34" fill="#ffffff")
                            circle(class="progress-ring__background-stoke"  stroke="#DADADA" stroke-width="4" cx="34" cy="34" r="30" fill="transparent")
                            circle(class="progress-ring__circle" stroke="#5DDFD6" stroke-width="4" cx="34" cy="34" r="30"  fill="transparent")
                            g(class="circle-chart__info")
                                text(class="circle-chart__minutes" x="34" y="28" alignment-baseline="central" text-anchor="middle") 30
                                text(class="circle-chart__subline" x="34" y="44" alignment-baseline="central" text-anchor="middle" ) мин
                        p Среднее время доставки
                .col-md-3
                    .rest-description-rate
                        button.heart-btn
                            +svg('heart', 24, 23.17)
                        p.rating
                            +svg('smile', 29.33, 29.33)
                            | 9.2 
                            span из 10

    section.restaurant-page-content
        .container
            .row
                .col-md-2
                    .left-sidebar
                        input(class="siderbar-search" type="text" placeholder="Поиск")
                        ul.category-hooks
                            li
                                a(href="#") Закуски     
                            li 
                                a(href="#") Салаты   
                            li
                                a(href="#") Первые блюда 
                            li 
                                a(href="#") Горячие блюда
                            li
                                a(href="#") Сашими
                            li
                                a.active(href="#") Роллы
                            li 
                                a(href="#") Наборы
                            li 
                                a(href="#") Тэмаки
                            li 
                                a(href="#") Десерты
                .col-md-7
                    .main-content
                        .rest-menu-bar
                            ul.bar-nav
                                li 
                                    a.active(href="#") Меню
                                li 
                                    a(href="#") Информация
                            ul.bar-filter
                                li
                                    a.tooltip.chiken-filter(href="#" title="Курица" style="color: #FF7043")
                                li
                                    a.tooltip.meat-filter(href="#" title="Мясо" style="color: #8B0000")
                                li
                                    a.tooltip.natural-filter(href="#" title="Вегетарианская" style="color: #117223")
                                li
                                    a.tooltip.healthy-filter(href="#" title="Веганская" style="color: #5BCB49")
                                li
                                    a.tooltip.fish-filter(href="#" title="Рыба" style="color: #00A0FF")
                                li
                                    a.tooltip.spicy-filter(href="#" title="Острый" style="color: #DA160B")
                                li
                                    a.tooltip.gluten-free-filter(href="#" title="Без глютена"  style="color: #5F5F5F")
                        .restaurant-main-description
                            p Суши-бар «Ками» предлагает своим гостям шедевры кулинарии, являющиеся изумительным сочетанием изысканного вкуса и великолепия японской кухни. Экзотика и роскошь Востока находятся совсем рядом!
                        .restaurant-menu
                            .restaurant-menu-nav
                                h3.food-type-title Пицца
                                .menu-view-type
                                    button.column-view-btn
                                    button.table-view-btn
                .col-md3
                    .right-sidebar