extends ../layout/main

block content

    section.restaurant-header
        .container.restaurant-header-description
            .row
                .col-md-2
                    .rest-logo
                        img(src="img/logo_rest/logo-faina-music-pub-big.png", alt="" class="rest-logo-img")
                .col-md-3
                    .restaurant-description
                        h2 Файна Мьюзик Паб
                        p.working-hours
                            +svg('watch', 12, 12)
                            span 09:00 - 22:00     
                        .new-rest-about  
                            .rest-about-text
                                +svg('flatware', 18, 18)
                                span Кофейня, Пирожковая
                            .rest-about-money 
                                span &#8372
                                span &#8372
                                span &#8372
                .col-md-4
                    .delivery-time 
                        svg(class="progress-ring" viewbox="0 0 68 68" width="68" height="68" xmlns="http://www.w3.org/2000/svg")
                            circle(class="progress-ring__background" cx="34"  cy="34" r="34" fill="#ffffff")
                            circle(class="progress-ring__background-stoke"  stroke="#DADADA" stroke-width="4" cx="34" cy="34" r="30" fill="transparent")
                            circle(class="progress-ring__circle" stroke="#5DDFD6" stroke-width="4" cx="34" cy="34" r="30"  fill="transparent")
                            g(class="circle-chart__info")
                                text(class="circle-chart__minutes" x="34" y="28" alignment-baseline="central" text-anchor="middle") 30
                                text(class="circle-chart__subline" x="34" y="44" alignment-baseline="central" text-anchor="middle" ) мин
                        p Среднее время доставки
                .col-md-3
                    .rest-description-rate
                        button.heart-btn
                            +svg('heart', 24, 23.17)
                        p.rating
                            +svg('smile', 29.33, 29.33)
                            | 9.2 
                            span из 10

    section.restaurant-page-content
        .container
            .row
                .col-md-2
                    .left-sidebar
                        input(class="siderbar-search" type="text" placeholder="Поиск")
                        ul.category-hooks
                            li
                                a(href="#") Закуски     
                            li 
                                a(href="#") Салаты   
                            li
                                a(href="#") Первые блюда 
                            li 
                                a(href="#") Горячие блюда
                            li
                                a(href="#") Сашими
                            li
                                a.active(href="#") Роллы
                            li 
                                a(href="#") Наборы
                            li 
                                a(href="#") Тэмаки
                            li 
                                a(href="#") Десерты
                .col-md-7
                    .main-content
                        .rest-menu-bar
                            ul.bar-nav
                                li 
                                    a.active(href="#") Меню
                                li 
                                    a(href="#") Информация
                            ul.bar-filter
                                li
                                    a.tooltip.chiken-filter(href="#" data-title="Курица")
                                li
                                    a.tooltip.meat-filter(href="#" data-title="Мясо")
                                li
                                    a.tooltip.natural-filter(href="#" data-title="Вегетарианская")
                                li
                                    a.tooltip.healthy-filter(href="#" data-title="Веганская")
                                li
                                    a.tooltip.fish-filter(href="#" data-title="Рыба")
                                li
                                    a.tooltip.spicy-filter(href="#" data-title="Острый")
                                li
                                    a.tooltip.gluten-free-filter(href="#" data-title="Без глютена")
                        .restaurant-main-description
                            p Суши-бар «Ками» предлагает своим гостям шедевры кулинарии, являющиеся изумительным сочетанием изысканного вкуса и великолепия японской кухни. Экзотика и роскошь Востока находятся совсем рядом!
                        .restaurant-menu
                            .restaurant-menu-nav
                                h3.food-type-title Пицца
                                .menu-view-type
                                    button.column-view-btn.view-btn__active 
                                    button.table-view-btn
                            ul.menu-list
                                li.common-type__item
                                    button.plus-icon
                                        +svg('plus-icon', 24, 24)
                                    .item-description
                                        h4.item-description__title Прошутто и ракета
                                        p.item-description__subtitle Томатный соус, сыр, прошутто и рукола
                                        .food-info
                                            .product-units 590 г., 1 шт.
                                            .id-food ID: 000001
                                        p.item-description__price 120
                                            span грн.
                                    .item-description__img
                                        img(src="img/proshutto.jpg", alt="Прошутто и ракета")
                                li.common-type__item
                                    button.plus-icon
                                        +svg('plus-icon', 24, 24)
                                    .item-description
                                        h4.item-description__title All 'amatriciana
                                        p.item-description__subtitle Томатный соус, свежая моцарелла, оливковое масло, итальянский бекон, красный лук, пармезан
                                        .food-info
                                            .product-units 590 г., 1 шт.
                                            .id-food ID: 000001
                                        p.item-description__price 100
                                            span грн.
                                    .item-description__img
                                        img(src="img/amatriciana.jpg", alt="All amatriciana")
                                li.opened-type_item
                                    .opened-img-desc
                                        img(src="img/hot_vegetarian.jpg", class="opened-type__img" alt="Острый вегетарианский гамбургер для гурманов")
                                        .opened-type__desc
                                            .opened-type__container
                                                h3.opened-type__title Острый вегетарианский гамбургер для гурманов
                                                p.opened-type__structure Майонез Chipotle, халапеньо, гриль гриль, цуккини, сыр чеддер, картофель хрустящие дольки, оливки, картофель фри
                                                .food-info
                                                    .product-units 590 г., 1 шт.
                                                    .id-food ID: 000001
                                                p.item-description__price 120
                                                    span грн.
                                    .opened-type__count 
                                        .opened-type__container
                                            .opened-type__count-wrapper
                                                p Количество: 
                                                    span 1
                                                .group-btn
                                                    button.minus-btn 
                                                        +svg('minus_blue', '18', '2')
                                                    button.plus-btn 
                                                        +svg('plus_blue', '18', '18')
                                    .add-to-dish
                                        .opened-type__container
                                            .add-to-dish__wrapper
                                                p.add-to-dish__title Соусы
                                                p.add-to-dish__subtitle Выберите до 5 дополнительных предметов
                                    .add-item-counter
                                        .opened-type__container
                                            .add-item-line
                                                .add-item__icon-name
                                                    .add-item__icon-fill
                                                        span 2
                                                        |x
                                                    p.add-item__name Пряный соус 105 мл 
                                                .add-item__numbers
                                                    .group-btn
                                                        button.minus-btn 
                                                            +svg('minus_blue', '9', '2')
                                                        button.plus-btn 
                                                            +svg('plus_blue', '12', '12')
                                                    p.add-item__num +10
                                            .add-item-line
                                                .add-item__icon-name
                                                    .add-item__icon
                                                    p.add-item__name Пряный соус 210 мл 
                                                .add-item__numbers
                                                    .group-btn
                                                        button.minus-btn 
                                                            +svg('minus_blue', '9', '2')
                                                        button.plus-btn 
                                                            +svg('plus_blue', '12', '12')
                                                    p.add-item__num +15
                                            .add-item-line
                                                .add-item__icon-name
                                                    .add-item__icon
                                                    p.add-item__name Пряный соус 320 мл 
                                                .add-item__numbers
                                                    .group-btn
                                                        button.minus-btn 
                                                            +svg('minus_blue', '9', '2')
                                                        button.plus-btn 
                                                            +svg('plus_blue', '12', '12')
                                                    p.add-item__num +20
                                li.simple-type_item
                                    button.plus-icon
                                        +svg('plus-icon', 24, 24)
                                    .item-description
                                        h4.item-description__title Острый вегетарианский гамбургер для гурманов
                                        p.item-description__subtitle Майонез Chipotle, халапеньо, гриль гриль, цуккини, сыр чеддер, картофель хрустящие дольки, оливки, картофель фри  
                                        p.item-description__price 105
                                            span грн.
                                li.simple-type_item
                                    button.plus-icon
                                        +svg('plus-icon', 24, 24)
                                    .item-description
                                        h4.item-description__title Острый вегетарианский гамбургер для гурманов
                                        p.item-description__subtitle Майонез Chipotle, халапеньо, гриль гриль, цуккини, сыр чеддер, картофель хрустящие дольки, оливки, картофель фри  
                                        p.item-description__price 105
                                            span грн.
                .col-md-3
                    .right-sidebar
                        h2.right-sidebar__title О ресторане
                        h3.right-sidebar__subtitle Адрес	
                        p.info-adres  Одесса Приморський район проспект Гагарина, 11
                        a.more-map Посмотреть карту 
                        h3.right-sidebar__subtitle Время открытия 
                        p.working-hours С 11:00 до 00:00
                        h4 Тип заведения:
                        p Если у вас аллергия или другие диетические ограничения, свяжитесь с рестораном. Ресторан предоставит информацию о еде по запросу.
                        .info-phone
                            a(href="tel:+381114050900")
                                span +381114050900
                        a.more-info(href="#") Смотрите больше информации
                        a.order-btn(href="#")
                            +svg('cart-icon__blue', '19.38', '24')
                            | Ваш заказ: 379грн