.apps {
    margin-bottom: 108px;
}

.apps-wrap {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px;
    background-color: #F2F3F5;
    overflow: hidden;
}

.wrap-apps-bg {
    position: absolute;
    right: -500px;
    top: 0;
    height: 100%;
    width: 100%;
    min-width: 1100px;
    overflow: hidden;
    -webkit-transition: opacity 150ms ease;
    transition: opacity 150ms ease;
}

@media screen and (max-width: 75em) {
    .wrap-apps-bg {
        right: -600px;
    }
}

.apps-bg {
    height: 100%;
}

.description-apps {
    position: relative;
    max-width: 45%;
    height: 100%;
}

.apps-title {
    margin: 58px 0 31px 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.17;
    color: #000000;
}

.apps-text {
    color: #000000;
    line-height: 1.64;
}

.apps-links {
    display: flex;
    align-items: center;

    li:first-child {
        margin-bottom: 21px;
    }
}

.mobile-links {
    margin-right: 15px;
}