.cities {
    margin: 3em 0 8em 0;
}

.cities-title {
    margin: 0 0 60px 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.17;
    color: #000000;
}

.cities-list {
    display: flex;
    flex-direction: column;

    .bold-link {
        font-weight: bold;
    }

    a {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 40em) {
    .cities {
        margin: 2em 0 4em 0;
    }

    .cities-list {
        a {
            font-size: 1em;
        }
    }

    .cities-title {
        margin: 0 0 1.5em 0;
        font-size: 2rem;
    }


}