.wrap-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px 1px;
}

.city-banner {
    margin-top: 74px;
}

.current-location-wrapper {
    position: relative;

    svg {
        position: absolute;
        left: 0;
        top: 18px;
    }
}

.current-location {
    padding: 22px 0 22px 25px;
    background-color: transparent;
    border-color: transparent;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #5f5f5f;
    }
}

// SLIDER BANNER
.rest-img img {
    border-radius: 5px 0 0 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.rest {
    display: flex;
    flex-direction: row;
    justify-content: baseline;

    img {
        border-radius: 5px 0 0 5px;
    }
}

.rest-about {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0 0 0 5em;
    background-color: #c9c9c9;
    background-image: url("../img/bg-texture-light.png");
    border-radius: 0 5px 5px 0;

    .rest-title {
        margin: 0;
        color: #000000;
        font-size: 42px;
        line-height: 1.17;
        font-weight: 700;
    }

    a {
        display: flex;
        flex-direction: column;
    }

    .delivery-rules {
        margin: 20px 0 30px 0;
        font-size: 18px;
    }

    .more-btn {
        display: inline-block;
        padding: 13px 20px;
        background-color: #5dbeb7;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;

        &:hover {
            background-color: lighten(#5dbeb7, 10%);
        }
    }
}

/* DOTS */

.vertical-dots {
    box-sizing: border-box;
    right: 10px;
    list-style: none;
    display: block;
    position: absolute;
    top: 40%;
    margin-top: -10px;
    text-align: right;
}

.vertical-dots li {
    position: relative;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-bottom: 6px;
}

.vertical-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.vertical-dots li button:hover,
.vertical-dots li button:focus {
    outline: none;
}

.vertical-dots li button:hover:before,
.vertical-dots li button:focus:before {
    opacity: 1;
}

.vertical-dots li button:before {
    font-family: "slick";
    font-size: 10px;
    line-height: 10px;

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    content: "•";
    text-align: center;

    color: transparent;
    border: 1px solid #3eca28;
    border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vertical-dots li.slick-active button:before {
    /* color: #3ECA28; */
    background-color: #3eca28;
}

// END DOTS

/* ARROWS */

.slider-container {
    position: relative;
}

.nav-prev,
.nav-next {
    position: absolute;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 4vmin;
    height: 4vmin;
    background: transparent;
    border-top: 0.5vmin solid #5f5f5f;
    border-right: 0.5vmin solid #5f5f5f;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;

    &:hover {
        cursor: pointer;
        border-color: #5dbeb7;
    }

    &.left {
        left: 0;
        transform: translate3d(0, -50%, 0) rotate(-135deg);
    }

    &.right {
        right: 0;
        transform: translate3d(0, -50%, 0) rotate(45deg);
    }
}

.nav-prev {
    top: 50%;
    left: -40px;
    transform: translate(-50%, -50%);
}

.nav-next {
    top: 50%;
    right: -35px;
    transform: translate(-50%, -50%);
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    margin: 60px 0 30px 0;
    color: #000000;
}

.online-delivery-group {
    position: relative;
}

.sushi-roll-group {
    position: relative;
}

.card_group_food {
    margin: 0 0 50px 0;

    .cat-link {
        user-select: none;
        height: 15em;
        display: block;

        .deliveryImg {
            width: 100%;
            height: 74.735%;
            overflow: hidden;
            border-radius: 5px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                background-color: #c9c9c9;
            }
        }

        .min_logo_rest {
            display: flex;
            position: absolute;
            width: 64px;
            height: 64px;
            background-color: #fff;
            border-radius: 5px;
            margin: 10px;
            align-items: center;
            justify-content: center;
        }

        .catImg {
            width: 100%;
            height: 82%;
            overflow: hidden;
            border-radius: 5px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                background-color: #c9c9c9;
            }
        }

        .group_food_logo {
            border-radius: 0;
        }

        .cat-title {
            font-weight: 500;
            font-size: 20px;
            margin: 5% 0;
            color: #000000;
        }

        .count-rest {
            margin: 10px 0 0 0;
            font-size: 18px;
        }

        .card_group_food_all {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: #5dbeb7;
            color: #fff;

            &:hover {
                background-color: lighten(#5dbeb7, 10%);
            }

            .title {
                font-size: 20px;
                font-weight: 500;
                text-align: center;

                span {
                    font-size: 36px;
                }
            }
        }
    }
}

.nav-category {
    position: absolute;
    top: 25px;
    right: 30px;

    .left-group {
        width: 1.5vmin;
        height: 1.5vmin;
        border-top: 0.3vmin solid #5f5f5f;
        border-right: 0.3vmin solid #5f5f5f;
        transform: translate3d(-20px, -50%, 0) rotate(-135deg);

        &:hover {
            border-color: #5dbeb7;
        }
    }

    .right-group {
        width: 1.5vmin;
        height: 1.5vmin;
        border-top: 0.3vmin solid #5f5f5f;
        border-right: 0.3vmin solid #5f5f5f;
        transform: translate3d(0, -50%, 0) rotate(45deg);

        &:hover {
            border-color: #5dbeb7;
        }
    }

    .sushi-all {
        font-size: 20px;
        margin-right: 4vmin;
        color: #00a1ff;
    }
}

.new-rest-group {
    position: relative;
    margin-bottom: 50px;

    a {
        color: #000000;
    }
}

.cat-link-wrap {
    position: relative;
}

.rest-img-group {

    position: relative;
    width: 100%;
    height: 64%;
    overflow: hidden;
    border-radius: 8px;

    img {

        height: 100%;
        width: 100%;
        object-fit: cover;
        background-color: #c9c9c9;
    }
}

.not-hidden {
    position: relative;
}

.delivery-terms {
    position: relative;
    float: right;
    bottom: 35px;
    right: 20px;
}


/* stroke-dasharray 2 значения, равные длине окружности 2ПиR
stroke-dashoffset число, которое делится на 60 - количество минут */

.progress-ring__circle {
    transform-origin: center;
    transform: rotate(-90deg);
    // stroke-dasharray:  calc(2*3.14*30) calc(2*3.14*30);
    // stroke-dashoffset:  calc((2*3.14*30) - (30/60*((2*3.14*30))));
}

.circle-chart__minutes {
    font-size: 22px;
    font-family: Roboto;
}

.circle-chart__subline {
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
}

h3.rest-title {
    margin-top: 22px;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 500;
    text-transform: uppercase;
}

.working-hours {
    margin: 3px 0 10px 0;

    span {
        padding-left: 6px;
    }
}

.new-rest-about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .rest-about-text {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #5F5F5F;

        span {
            padding-left: 7px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 160px;
        }
    }

    .rest-about-money {

        font-size: 16px;
        letter-spacing: 5px;
        color: #2C2C2C;

        span:last-child {
            color: #A6A6A6;
        }

    }

    .rest-about-rating {
        display: flex;
        align-items: center;

        span {
            padding-left: 10px;
            font-size: 18px;
            color: #000000;
        }
    }
}

.popular-now {
    position: relative;
    margin-bottom: 67px;

    a {
        color: #000000;
    }
}

.near-with-you {
    .near-item {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 8px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-color: #c9c9c9;
        }
    }
}

.near-item-desc {
    position: absolute;
    left: 20px;
    bottom: 16px;
    color: #000000;

    h3 {
        font-size: 24px;
        font-weight: 700;
    }

    p {
        font-weight: 18px;
    }
}

.cat_carousel_container,
.group_carousel_container {
    width: calc(100% + 30px);
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.cat_carousel,
.group_carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width:1024px) {
    .mob_v {
        display: none;
    }

    .rest {
        height: 380px;
    }

    .rest-img {
        width: 50%;
    }

    .rest-about .more-btn,
    .nav-category,
    .nav-prev,
    .nav-next {
        display: none !important;
    }
}

@media (max-width:1023px) {
    .pc_v {
        display: none;
    }

    .rest {
        height: 400px;
    }

    .card_group_food .cat-link .cat-title {
        font-size: 1.2em;
    }

    .rest-about {
        position: absolute;
        bottom: 0;
        padding: 1em;
        background-image: none;
        background-color: transparent;

        & * {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            z-index: 1;
        }

        .rest-title {
            color: #ffffff;
            font-size: 2em;
            font-weight: 500;
        }

        .delivery-rules {
            margin: 0.4em 0 0.3em 0;
            font-size: 1.2em;
            color: #fff;
        }

        .more-btn {
            display: none;
        }
    }

    .nav-category,
    .nav-prev,
    .nav-next {
        display: none !important;
    }

    .cat_carousel_container,
    .group_carousel_container {
        width: 100%;
        overflow-y: auto;
        position: relative;
        -webkit-overflow-scrolling: touch;
    }

    .cat_carousel,
    .group_carousel {
        display: flex;
        flex-direction: row;
        margin-right: 0;
        margin-left: 0;
    }

    .rest img {
        border-radius: 0;
    }

    .rest-img-group {
        position: relative;
        width: 100%;
        height: 55%;
        overflow: hidden;
        border-radius: 8px;
    }

    .card_group_food {
        margin: 0 0 2em 0;
        width: 20em;

        .cat-link {
            .catImg {
                width: 100%;
                height: 70%;
            }

            .deliveryImg {
                height: 58.535%;
            }

        }
    }

    .card_group_food_all .title {
        font-size: 16px;
        font-weight: normal;
        text-align: center;

        span {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 39.9375em) {
    .rest {
        height: 28vh;
    }

    h2 {
        padding: 0.5em 0.8em;
        font-size: 1.6em;
        margin: 0;
    }

    .col-sm-3.card_group_food {
        width: 10em;
        flex: 0 0 auto;
    }

    .card_group_food {
        margin: 0 0 0em 0;
        width: 20em;

        .cat-link .card_group_food_all .title span {
            font-size: 0.9em;
        }
    }

    .card_group_food .cat-link .card_group_food_all .title {
        font-size: 1em;
    }

    .card_group_food .cat-link .catImg {
        height: 60%;
    }

    .card_group_food .cat-link .count-rest {
        font-size: 0.8em;
    }

    .wrap-container {
        padding: 0;
    }

    .rest-img-group {
        height: 55%;
    }

    .card_group_food .cat-link .cat-title {
        font-size: 1.2em;
    }

}