.footer {
  height: 317px;
  padding-top: 60px;
  background-color: #d9eeec;
}

.footer-info {
  display: flex;
  padding-top: 60px;
}

.footer-social {
  p {
    margin: 40px 0 0 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
  }

  .social-links {
    display: flex;
    margin-top: 30px;
    a {
      display: block;
      width: 32px;
      height: 32px;
      margin-right: 1.5rem;
      font-size: 17px;
      color: #5F5F5F;
      text-align: center;
      border: 1px solid #5F5F5F;
      border-radius: 50%;
      transition: all 0.15s linear;
      box-sizing: inherit;
      &.facebook-link:hover {
        background-color: #455890;
        color: #ffffff;
        border-color: #455890;
      }
      &.twitter-link:hover {
        background-color: #1DA1F2;
        color: #ffffff;
        border-color: #1DA1F2;
      }
      &.instagram-link:hover {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        color: #ffffff;
        border-color: transparent;
      }
      .facebook-icon {
        padding-top: 6px;
      }
      .twitter-icon {
        padding-top: 6px;;
      }
      .instagram-icon {
        padding-top: 6px;
      }
    }
  }
}

.footer-links_1,
.footer-links_2 {
  li {
    margin-bottom: 15px;
    a {
      line-height: 1.14;
    }
  }
  
}

.footer-links_1 {
	
  li:last-child {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.footer-links_2 {
  li:last-child {
    margin-bottom: 0;
  }
}

.footer-app-links {
  ul{
    li:first-child {
      margin-bottom: 22px;
    }
  }
}

.copyright {
  p {
    margin-top: 40px;
    color: #000000;
  }
}
