.restaurant-header {
    min-height: 65.2vh;
    background-image: url('../img/faina-header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

// .restaurant-header-description-wrap {
//     display: flex;
//     align-items: flex-end;
// }

.restaurant-header-description {
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    margin-top: 40.4vh;
    img {
        width: 140px;
        height: 120px;
    }
}



.restaurant-page-content {
    margin-top: 42px;
}

.category-hooks {
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;
        a {
            margin-bottom: 24px;
            font-size: 16px;
            color: #5F5F5F;
            &:hover {
                color: darken(#5F5F5F, 20%);
            }
        }
        .active {
            position: relative;
            padding-left: 8px;
            font-weight: 500;
            color: #000000;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -4px;
                border-left: 4px solid #000000;
                height: 100%;
            }
        }
}

.restaurant-main-description {
    margin-bottom: 36px;
    font-size: 16px;
    color: #2C2C2C; 
    p {
        &:first-child {
            margin-bottom: 16px;
        }
    }
}