.restaurant-header {
  min-height: 65.2vh;
  background-image: url("../img/faina-header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  display: flex;
  align-items: flex-end;
}

.restaurant-header-description {
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;

  .rest-logo {
    display: flex;
    align-items: center;
    width: 140px;
    height: 120px;
    margin: 20px 0 20px 5px;
    border: 1px solid #dadada;
    border-radius: 5px;
    .rest-logo-img {
      width: 100%;
    }
  }
}

.restaurant-description {
  margin-top: 36px;

  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.14;
    text-transform: uppercase;
    color: #000;
  }

  .working-hours {
    margin: 17px 0 16px 0;
    font-size: 14px;
    color: #000;
  }

  .rest-about-text {
    span {
      width: 180px;
    }
  }
}

.delivery-time {
  display: flex;
  align-items: center;
  margin-top: 48px;

  p {
    width: 122px;
    margin-left: 20px;
    font-size: 16px;
  }
}

.rest-description-rate {
  display: flex;
  align-items: center;
  margin-top: 65px;
  .heart-btn {
    margin-right: 34px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .rating {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    color: #000;

    svg {
      margin-right: 10px;
    }
    span {
      font-size: 12px;
      color: #5f5f5f;
      padding: 0 0 10px 10px;
    }
  }
}

.restaurant-page-content {
  margin-top: 42px;
}

.siderbar-search {
  width: 140px;
  margin-bottom: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8.3px;
  border: 1px solid #dadada;
  border-radius: 3px;
  &::placeholder {
    font-size: 15px;
    color: #5f5f5f;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.category-hooks {
  display: inline-flex;
  flex-direction: column;
  flex: 1 1 auto;

  li {
    margin-bottom: 24px;
    a {
      font-size: 16px;
      color: #5f5f5f;
      &:hover {
        color: darken(#5f5f5f, 20%);
      }
    }
    a.active:hover {
      color: darken(#5ddfd5, 10%);
    }
  }

  .active {
    position: relative;
    font-weight: 700;
    color: #5ddfd5;

    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      border-bottom: 4px solid #5ddfd5;
      width: 100%;
    }
  }
}

.rest-menu-bar {
  display: inline-flex;
  margin-bottom: 40px;
  .bar-nav {
    display: flex;

    li {
      margin-right: 44px;
    }

    a {
      font-size: 18px;
      color: #5f5f5f;
      &:hover {
        color: darken(#5f5f5f, 20%);
      }
    }

    a.active {
      position: relative;
      color: #000;
      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        border-bottom: 4px solid #5ddfd5;
        width: 100%;
      }
    }
  }
  .bar-filter {

    li {
      display: inline-block; 
      margin-right: 15px;
      
    }

    a {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url(../img/filter-food-icon.png);
      background-repeat: no-repeat;
      background-size: cover;

      &.chiken-filter {
        color: #FF7043;
      }
      &.meat-filter {
        background-position: -39px 0;
        color: #8B0000;
      }
      &.natural-filter {
        background-position: -78px 0;
        color: #117223;
      }
      &.healthy-filter {
        background-position: -117px 0;
        color: #5BCB49;
      }
      &.fish-filter {
        background-position: -156px 0;
        color: #00A0FF;
      }
      &.spicy-filter {
        background-position: -195px 0;
        color: #DA160B;
      }
      &.gluten-free-filter {
        background-position: -234px 0;
        color:  #5F5F5F;
      }
    }

  }
}

.tooltip {
  position: relative;
  &::before {
    content: attr(data-title);
    position: absolute;
    bottom: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 4px 11px;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
  &::after {
    content: "";
    position: absolute; 
    bottom: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
    
  }
  &:hover::before,
  &:hover::after {
    display: inline-block;
  }
}

.restaurant-main-description {
  margin-bottom: 36px;
  font-size: 16px;
  color: #2c2c2c;
}

.restaurant-menu-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .food-type-title {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;     
  }

  button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    opacity: .5;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    &.column-view-btn {
      background-image: url(../img/column-view.png);
      background-size: cover;
      margin-right: 25px;
    }

    &.table-view-btn {
      background-image: url(../img/table-view.png);
      background-size: cover;
    }

    &.view-btn__active {
      opacity: 1;
    }
  }
}

.common-type__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;


  .item-description {
    padding: 20px 31px 85px 67px;

    .item-description__title {
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: 400;
      color: #000000;
    }

    .item-description__subtitle {
      margin-bottom: 12px;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .item-description__price {
    font-size: 28px;
    color: #5DBEB7;
    span {
      font-size: 18px;
      color: #5f5f5f;
      padding-left: 5px;
    }
  }

  .item-description__img {
    height: 67%;
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
