footer.footer
    .container  
        .footer-info
            .footer-social
                +svg('logo', 112, 26)
                p Мы в соц.сетях
                ul.social-links
                    li
                        a(href="#").facebook-link
                            i.fab.fa-facebook-f.facebook-icon                                
                    li
                        a(href="#").twitter-link
                            i.fab.fa-twitter.twitter-icon
                    li
                        a(href="#").instagram-link
                            i.fab.fa-instagram.instagram-icon
            .footer-links_1
                ul
                    li
                        a(href="#") Сотрудничество
                    li
                        a(href="#") Партнеры
                    li
                        a(href="#") Вакансии
                    li
                        a(href="#") Соглашение

                    li
                        a(href="#") Моя компания 
            .footer-links_2
                ul
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Контакты
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Вопросы и ответы
            .footer-app-links
        .copyright
            p &copy; 2015-2019. Все права защищены.