include ../mixins

header.header
    .container
        .header-wrap
            .logo
                a(href="/")
                    +svg('logo', 131, 31)
            .nav-search
                input(type="text" placeholder="Поиск")
                +svg('search', 18, 18)
            .nav-right
                ul.nav-right-list
                    li.nav-right-item
                        a(href="#") UA
                    li.nav-right-item
                        a(href="#") Войти
                    li.nav-right-item
                        a(href="#")  
                            +svg('cart', 14.31, 18)
                            | Товаров      

