include ../mixins

header.header
    .container
        .header-wrap
            .logo
                a(href="#")
                    +svg('logo-light', 140, 33.6)
            .nav-search
                .header-light
                    input(type="text" placeholder="Поиск")
                    +svg('search-light', 18, 18)
            .nav-right
                ul.nav-right-list.header-light
                    li.nav-right-item
                        a(href="#") UA
                    li.nav-right-item
                        a(href="#") Войти
                    //li.nav-right-item.cart
                        a(href="#")  
                            +svg('cart-light', 14.31, 18)
                            | Товаров      
